rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to users collection
    match /users/{document} {
      allow read, write: if true;
    }
    
    // Allow read/write access to all other collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}